body, html {
    font-family: 'Roboto', sans-serif;
}
.label {
    font-weight: 300;
}
.card-header-title {
    font-weight: 500;
}
.m-auto {
    margin: auto;
}
.flex-centered {
    justify-content: center;
    align-self: center;
}
.is-centered {
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
table {
    table-layout: fixed;
}